[flake8]
exclude = pg_types.py

max-line-length = 127

ignore =
  # continuation line under-indented for hanging indent (conflicts with our yapf style)
  E121,
  # Closing brackets indent
  E123,
  # Hanging indents
  E126,
  # Visual indent
  E129,
  # bare-except
  E722,
  # Breaks & binary operators
  W503,
  # line break after binary operator (conflicts with our yapf style)
  W504,
  # blank line at end of file
  W391,
  # Raising too general exception: Exception (broad-exception-raised)
  W719,
